.portfolio {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin-bottom: 10%;
}

.portfolio-name {
  width: 30%;
  text-align: center;
  margin-top: 100px;
}

.portfolio-name a {
  font-family: "Fjalla One";
  font-weight: bold;
  font-size: 300%;
  color: #0a3d62;
}

.portfolio-line {
  margin-top: 20px;
  color: #0a3d62;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  width: 90%;
  justify-content: center;
}

.content01 .content01-img {
  max-width: 20rem;
  border-radius: 0.5rem;
  margin: 5px;
}

.content02 .content02-img {
  max-width: 20rem;
  border-radius: 0.5rem;
  margin: 5px;
}

.content03 .content03-img {
  max-width: 20rem;
  border-radius: 0.5rem;
  margin: 5px;
}
.content04 .content04-img {
  max-width: 20rem;
  border-radius: 0.5rem;
  margin: 5px;
}
.content05 .content05-img {
  max-width: 20rem;
  border-radius: 0.5rem;
  margin: 5px;
}
.content06 .content06-img {
  max-width: 20rem;
  border-radius: 0.5rem;
  margin: 5px;
}
