.top-bar {
  height: 100px;
  background-color: #0a3d62;
  margin: 0;
  margin-left: 0px;
  display: block;
}

.top-bar-title {
  float: left;
  margin-left: 5%;
  align-items: center;
  height: 80%;
}

.top-bar-title h1 {
  font-family: "Fjalla One";
  font-weight: bold;
  font-size: 250%;
  text-align: center;
  color: white;
}

.menu-bar {
  display: flex;
  float: right;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 4%;
  padding: 0;
  width: 40%;
  height: 60%;
  justify-content: space-between;
  align-items: center;
}

.menu-bar li {
  font-family: "Fjalla One";
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  color: white;
  margin-left: 5%;
}

.top-bar-title h1:hover {
  cursor: pointer;
}

.menu-bar li:hover {
  cursor: pointer;
}
